body {
    margin: 0;
    height: 100vh;
    background-color: #000;
    overflow: hidden; /* To hide scrollbar */
}

span {
    background: url('../image/heart.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 6s linear forwards; /* Added forwards to maintain the final state */
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: brightness(0.6) contrast(3) hue-rotate(260deg); 
    }
    50% {
        filter: brightness(0.7) contrast(4) hue-rotate(300deg);
    }
    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: brightness(1) contrast(5) hue-rotate(700deg);
    }
}